<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>금요일</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HelloDo</display-name>
    <servlet-name>HelloDo</servlet-name>
    <servlet-class>edu.ssafy.HelloDo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloDo</servlet-name>
    <url-pattern>/hello.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sessionTestServlet</display-name>
    <servlet-name>sessionTestServlet</servlet-name>
    <servlet-class>edu.ssafy.sessionTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sessionTestServlet</servlet-name>
    <url-pattern>/sessionTest.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberServelet</display-name>
    <servlet-name>MemberServelet</servlet-name>
    <servlet-class>edu.ssafy.servlet.MemberServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberServelet</servlet-name>
    <url-pattern>/MemberServelet</url-pattern>
  </servlet-mapping>
</web-app>